{% extends 'visitas/base.html' %}

{% block title %}
  Detalle de la Visita
{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Detalle de la Visita a la empresa</h1>
  <div class="bg-white p-4 rounded shadow">
    <h2 class="text-xl font-bold">Nombre: {{ visita.nombre }}</h2>
    <p class="mt-2">RUT: {{ visita.rut }}</p>
    <p class="mt-2">Descripción: {{ visita.descripcion }}</p>
    <p class="mt-2">Hora ingreso: {{ visita.hora_ingreso }}</p>
    <p class="mt-2">Hora salida: {{ visita.hora_salida|default:"Aun en la empresa" }}</p>

    <a href="{% url 'lista_visitas' %}" class="hover:scale-105 transition-all ease-in mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded">
      Volver al listado
    </a>
  </div>
{% endblock %}